<% if recipes.empty? %>
  <h2>There aren't any recipes really. Sorry.</h2>
<% else %>
  <div class="recipe-grid">
    <% recipes.each do |recipe| %>
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="<%= recipe.image_url %>" alt="<%= recipe.title %>">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a class="title is-4 link" href="/recipes/<%= recipe.id %>"><%= recipe.title %></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

